<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= page.title ? page.title + ' | ' + config.title : config.title %></title>
<meta name="description" content="<%= config.description || '' %>">

<link rel="stylesheet" href="<%= url_for('/css/custom.css') %>?v=11">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">