<section class="tag-page">
  <%
    const tagPath = String(page.path || '').replace(/index\.html$/, '').replace(/\/$/, '');
    const tagParts = tagPath.split('/').filter(Boolean);
    const tagLang = tagParts[0] === 'zh' ? 'zh' : (tagParts[0] === 'ja' ? 'ja' : 'en');
    const tagPostsRaw = page.posts && page.posts.toArray ? page.posts.toArray() : (page.posts ? page.posts.data || [] : []);
    const tagPosts = tagPostsRaw.filter(function(post) {
      return detect_post_language(post) === tagLang;
    });
  %>
  <h1 class="section-title">Tag: <%= page.tag.name %></h1>

  <% if (tagPosts.length) { %>
    <div class="writing-list">
      <% tagPosts.forEach(function(post) { %>
        <article class="writing-item">
          <div class="writing-date"><%= date(post.date, 'YYYY-MM-DD') %></div>
          <div class="writing-title">
            <a href="<%= url_for(post.path) %>"><%= post.title %></a>
          </div>
        </article>
      <% }) %>
    </div>
  <% } else { %>
    <p>No posts in this tag.</p>
  <% } %>
</section>
